2. Google Ads to Quarterly Archive.json
{
  "name": "2. Google Ads to Quarterly Archive",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE",
          "mode": "list",
          "cachedResultName": "Google Ad to Slides",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ads Sync",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1328,
        272
      ],
      "id": "22bde3e1-41e2-4be0-861c-e1ce1cecf911",
      "name": "Get Active Accounts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ne5lFAYcDs8mggLN",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -976,
        272
      ],
      "id": "83657e21-b56c-41c0-b4ea-22cdce88172c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -752,
        288
      ],
      "id": "4a049032-3080-4b8c-8fc9-08add760fa5f",
      "name": "Wait",
      "webhookId": "893866c6-542b-4e20-b35e-d55bcab40455"
    },
    {
      "parameters": {
        "managerCustomerId": " 668-083-3546",
        "clientCustomerId": "={{ $json['Account ID'] }}",
        "additionalOptions": {
          "dateRange": "allTime",
          "campaignStatus": "all"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -160,
        -128
      ],
      "id": "58bd759b-e1b0-4f0e-85d2-cc9d6541d42d",
      "name": "Get many campaigns",
      "alwaysOutputData": true,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "FyGlhDuXnGAjHnyG",
          "name": "Google Ads account - aifirstlink"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Calculate the Previous Month once at the top\nconst now = new Date();\nnow.setMonth(now.getMonth() - 1); // Subtract 1 month\nconst monthNames = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\nconst previousMonthStr = `${monthNames[now.getMonth()]} ${now.getFullYear()}`;\n\nfor (const item of $input.all()) {\n  const raw = item.json; \n  \n  // 2. Force conversion from Strings to Numbers\n  const costMicros = Number(raw.costMicros) || 0;\n  const conversions = Number(raw.conversions) || 0;\n  const impressions = Number(raw.impressions) || 0;\n  const interactions = Number(raw.interactions) || 0; \n  const optimizationScore = Number(raw.optimizationScore) || 0;\n\n  // 3. Standardize Cost (Micros / 1,000,000)\n  const cost = costMicros / 1000000;\n  \n  // 4. Apply your specific formulas\n  const ctr = impressions > 0 ? (interactions / impressions) : 0;\n  const cpc = interactions > 0 ? (cost / interactions) : 0;\n  const cpa = conversions > 0 ? (cost / conversions) : 0;\n  const cpm = impressions > 0 ? (cost / impressions) * 1000 : 0;\n  const convRate = interactions > 0 ? (conversions / interactions) : 0;\n\n  // 5. Create the \"formatted\" object\n  item.json.formatted = {\n    month: previousMonthStr, // This will be \"Jan 2026\" if run in Feb\n    cost: Number(cost.toFixed(2)),\n    impressions: impressions,\n    clicks: interactions,\n    ctr: Number(ctr.toFixed(4)),\n    avg_cpc: Number(cpc.toFixed(2)),\n    conversions: Number(conversions.toFixed(2)),\n    cpa: Number(cpa.toFixed(2)),\n    cpm: Number(cpm.toFixed(2)),\n    conv_rate: Number(convRate.toFixed(4)),\n    opt_score: Number(optimizationScore.toFixed(4))\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        496
      ],
      "id": "c520fa7f-d016-45aa-815c-e87d09d365cc",
      "name": "Math Engine"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE",
          "mode": "list",
          "cachedResultName": "Google Ad to Slides",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ads Sync",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last Synced": "={{ $now.toFormat('dd/MM/yyyy') }}",
            "Account ID": "={{ $('Get Active Accounts').item.json['Account ID'] }}",
            "Update Data": "={{false}}",
            "Update Data Status": "Complete"
          },
          "matchingColumns": [
            "Account ID"
          ],
          "schema": [
            {
              "id": "Account ID",
              "displayName": "Account ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Account Name",
              "displayName": "Account Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Synced",
              "displayName": "Last Synced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Update Data",
              "displayName": "Update Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Update Data Status",
              "displayName": "Update Data Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generate Pesenration",
              "displayName": "Generate Pesenration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Presenatation Status",
              "displayName": "Presenatation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        16
      ],
      "id": "e3eb50af-9a20-40c0-93d5-d5d89dfcdabb",
      "name": "Update Status - Ad Sync",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ne5lFAYcDs8mggLN",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get Active Accounts').item.json.Duration }}",
                    "rightValue": "ALL TIME",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "726af7a0-61b2-4492-870d-e23743bf3612"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "All Time"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ad74dd5-e24d-4273-af50-a326158fd74c",
                    "leftValue": "={{ $('Get Active Accounts').item.json.Duration }}",
                    "rightValue": "TODAY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Today"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "94b94814-0b59-4766-8b37-026c7e07b45d",
                    "leftValue": "={{ $('Get Active Accounts').item.json.Duration }}",
                    "rightValue": "THIS_MONTH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "This Month"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "10b7dff9-472f-4439-8575-4e30b7e6f6cd",
                    "leftValue": "={{ $('Get Active Accounts').item.json.Duration }}",
                    "rightValue": "LAST_MONTH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Last Month"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b831bb04-1678-4ed9-9a5a-155643ca7558",
                    "leftValue": "={{ $('Get Active Accounts').item.json.Duration }}",
                    "rightValue": "LAST_7_DAYS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Last 7 Days"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6e6e8613-b1b2-4d34-94d7-024a4552816a",
                    "leftValue": "={{ $('Get Active Accounts').item.json.Duration }}",
                    "rightValue": "LAST_14_DAYS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Last 14 Days"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "76ea3ae4-8a17-4a8e-8e6f-dca9a6dfa8ae",
                    "leftValue": "={{ $('Get Active Accounts').item.json.Duration }}",
                    "rightValue": "LAST_30_DAYS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Last 30 Days"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -560,
        208
      ],
      "id": "2aaf728b-7a50-4a0a-8c75-044c8270bfec",
      "name": "Switch"
    },
    {
      "parameters": {
        "managerCustomerId": " 668-083-3546",
        "clientCustomerId": "={{ $json['Account ID'] }}",
        "additionalOptions": {
          "dateRange": "TODAY",
          "campaignStatus": "all"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -160,
        64
      ],
      "id": "ed001b3e-dede-4518-af5b-f01d7f234b05",
      "name": "Get many campaigns1",
      "alwaysOutputData": true,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "FyGlhDuXnGAjHnyG",
          "name": "Google Ads account - aifirstlink"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "managerCustomerId": " 668-083-3546",
        "clientCustomerId": "={{ $json['Account ID'] }}",
        "additionalOptions": {
          "dateRange": "THIS_MONTH",
          "campaignStatus": "all"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -160,
        272
      ],
      "id": "7fc009e7-8dc8-4b87-a487-074daefdaf38",
      "name": "Get many campaigns2",
      "alwaysOutputData": true,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "FyGlhDuXnGAjHnyG",
          "name": "Google Ads account - aifirstlink"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "managerCustomerId": " 668-083-3546",
        "clientCustomerId": "={{ $json['Account ID'] }}",
        "additionalOptions": {
          "dateRange": "LAST_MONTH",
          "campaignStatus": "all"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -160,
        480
      ],
      "id": "8a0b88d6-3e4b-42d2-ae20-2519a6025693",
      "name": "Get many campaigns3",
      "alwaysOutputData": true,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "FyGlhDuXnGAjHnyG",
          "name": "Google Ads account - aifirstlink"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "managerCustomerId": " 668-083-3546",
        "clientCustomerId": "={{ $json['Account ID'] }}",
        "additionalOptions": {
          "dateRange": "LAST_7_DAYS",
          "campaignStatus": "all"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -160,
        672
      ],
      "id": "590b2e22-fc0f-4ba2-b746-eff92dc17566",
      "name": "Get many campaigns4",
      "alwaysOutputData": true,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "FyGlhDuXnGAjHnyG",
          "name": "Google Ads account - aifirstlink"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "managerCustomerId": " 668-083-3546",
        "clientCustomerId": "={{ $json['Account ID'] }}",
        "additionalOptions": {
          "dateRange": "LAST_14_DAYS",
          "campaignStatus": "all"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -160,
        864
      ],
      "id": "93a277b1-dbaf-498c-ac65-eceaa1252183",
      "name": "Get many campaigns5",
      "alwaysOutputData": true,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "FyGlhDuXnGAjHnyG",
          "name": "Google Ads account - aifirstlink"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "managerCustomerId": " 668-083-3546",
        "clientCustomerId": "={{ $json['Account ID'] }}",
        "additionalOptions": {
          "dateRange": "LAST_30_DAYS",
          "campaignStatus": "all"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleAds",
      "typeVersion": 1,
      "position": [
        -160,
        1056
      ],
      "id": "c7dc20e0-2b7a-4eab-9304-8890f8f94fc1",
      "name": "Get many campaigns6",
      "alwaysOutputData": true,
      "credentials": {
        "googleAdsOAuth2Api": {
          "id": "FyGlhDuXnGAjHnyG",
          "name": "Google Ads account - aifirstlink"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        -48
      ],
      "id": "91304a55-25db-48a2-9068-818f8d783951",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf301c60-a7d6-4ce1-b505-d57143c72f7f",
              "name": "=Month",
              "value": "={{ $now.minus({ months: 1 }).format('MMM yyyy') }}",
              "type": "string"
            },
            {
              "id": "1f57f6f2-3fe5-4c16-aae1-92c0147ddf4a",
              "name": "Quarter",
              "value": "={{ \"Q\" + Math.ceil($now.minus({ months: 1 }).month / 3) + \" \" + $now.minus({ months: 1 }).year }}",
              "type": "string"
            },
            {
              "id": "47179c9a-0216-4414-92eb-f1c38199bf8e",
              "name": "Time Stamp",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "8967381a-ce09-4aff-b472-a4da72622b14",
              "name": "Unique_Archive_ID",
              "value": "={{ $node[\"Math Engine\"].json[\"id\"] }}_{{ $json.formatted.month }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        496
      ],
      "id": "0e2a3af2-6948-4e62-b5ee-de1bbdeef0e2",
      "name": "Month and Quarter"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE",
          "mode": "list",
          "cachedResultName": "Google Ad to Slides",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1518305012,
          "mode": "list",
          "cachedResultName": "Quarterly Archive",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11Hl8ZaeQ-B3OhqGJgHIpJPeAhsxMX73Vw9giB0PWcuE/edit#gid=1518305012"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Account Name": "={{ $('Wait').item.json['Account Name'] }}",
            "Account ID": "={{ $('Wait').item.json['Account ID'] }}",
            "Campaign ID": "={{ $('Math Engine').item.json.id }}",
            "Month": "={{ $json.Month }}",
            "Campaign Name": "={{ $('Math Engine').item.json.name }}",
            "Quarter": "={{ $json.Quarter }}",
            "Cost": "={{ $('Math Engine').item.json.formatted.cost }}",
            "Impressions": "={{ $('Math Engine').item.json.formatted.impressions }}",
            "Clicks": "={{ $('Math Engine').item.json.formatted.clicks }}",
            "CTR": "={{ $('Math Engine').item.json.formatted.ctr }}",
            "CPC": "={{ $('Math Engine').item.json.formatted.avg_cpc }}",
            "Conversions": "={{ $('Math Engine').item.json.formatted.conversions }}",
            "CPA": "={{ $('Math Engine').item.json.formatted.cpa }}",
            "CPM": "={{ $('Math Engine').item.json.formatted.cpm }}",
            "Conversion Rate": "={{ $('Math Engine').item.json.formatted.conv_rate }}",
            "Opt. Score": "={{ $('Math Engine').item.json.formatted.opt_score }}",
            "Sync Date": "={{ $json['Time Stamp'] }}",
            "Archive ID": "={{ $json.Unique_Archive_ID }}"
          },
          "matchingColumns": [
            "Archive ID"
          ],
          "schema": [
            {
              "id": "Account ID",
              "displayName": "Account ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account Name",
              "displayName": "Account Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quarter",
              "displayName": "Quarter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campaign ID",
              "displayName": "Campaign ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cost",
              "displayName": "Cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clicks",
              "displayName": "Clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTR",
              "displayName": "CTR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPC",
              "displayName": "CPC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversions",
              "displayName": "Conversions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPA",
              "displayName": "CPA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPM",
              "displayName": "CPM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversion Rate",
              "displayName": "Conversion Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opt. Score",
              "displayName": "Opt. Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sync Date",
              "displayName": "Sync Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archive ID",
              "displayName": "Archive ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        1088
      ],
      "id": "17d0d8d8-14e7-48c0-952e-81a7aab7cd0f",
      "name": "Append or update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ne5lFAYcDs8mggLN",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1488,
        272
      ],
      "id": "6f603fa4-5745-4275-895b-19c9f52723d3",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Active Accounts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many campaigns": {
      "main": [
        [
          {
            "node": "Math Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Math Engine": {
      "main": [
        [
          {
            "node": "Month and Quarter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get many campaigns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many campaigns1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many campaigns2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many campaigns3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many campaigns4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many campaigns5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many campaigns6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many campaigns1": {
      "main": [
        [
          {
            "node": "Math Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many campaigns2": {
      "main": [
        [
          {
            "node": "Math Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many campaigns3": {
      "main": [
        [
          {
            "node": "Math Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many campaigns4": {
      "main": [
        [
          {
            "node": "Math Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many campaigns5": {
      "main": [
        [
          {
            "node": "Math Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many campaigns6": {
      "main": [
        [
          {
            "node": "Math Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Month and Quarter": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "550d3858-c747-4711-b821-cc1945e3ff13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "563081422b97a9613202fc9e330444d764a4b838aee8c810ae24b64e312e87c7"
  },
  "id": "992omJwEOQjlawkU",
  "tags": []
}